# Dependencies
node_modules/
node_modules

# Build output
dist/
dist

# Parcel cache
.cache/
.parcel-cache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac system files
.DS_Store

# Environment variables
.env

# Optional: IDE files
.vscode/