// COLORS
$primary-color: #616161;
$secondary-color:#274046;

$white-color: #D6CECE;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #206769; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
